<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>Header</title>
  </head>
  <header>
    <div class="themeClr" id="headLine">
      <form action="/" method="GET">
        <button class="navBttn">HOME</button>
      </form>
      <form action="/qt" method="GET">
        <button class="navBttn right">QTS</button>
      </form>
      <form action="/stock" method="GET">
        <button class="navBttn right">STOCK</button>
      </form>
    </div>
  </header>
</html>
