<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
  <header>
    <div class="themeClr" id="headLine">
      <form action="/" method="GET">
        <button class="navBttn">HOME</button>
      </form>
      <form action="/qt" method="GET">
        <button class="navBttn">QTS</button>
      </form>
      <form action="/papers" method="GET">
        <button class="navBttn right">Papers</button>
      </form>
      <form action="/stock" method="GET">
        <button class="navBttn right">Stock</button>
      </form>
      <form action="/price" method="GET">
        <button class="navBttn right">Price</button>
      </form>
    </div>
  </header>
</html>
