<div class="mrg15 labelMargin">
  <label for="customer">Customer:</label>
  <input type="text" id="customer" name="customer" />

  <label for="endDT">End Date:</label>
  <input type="date" id="endDT" name="endDT" value="2025-01-01" />
  <label for="submitDT">Submit Date:</label>
  <input type="date" id="submitDT" name="submitDT" value="2025-01-01" />
  <label for="resultsDT">Results Date:</label>
  <input type="date" id="resultsDT" name="resultsDT" value="2025-01-01" />
</div>

<div class="mrg15 labelMargin" id="chooseOp">
  <label for="incAw">Artwork</label>
  <input type="checkbox" name="incAw" id="incAw" />
  <label for="incPlates">Plates</label>
  <input type="checkbox" name="incPlates" checked="true" id="incPlates" />
  <label for="incPaper">Papers</label>
  <input type="checkbox" name="incPaper" checked="true" id="incPaper" />
  <input type="number" value="1" id="op2count" name="op2count" class="wid40" />

  <label for="incPrint">Printing:</label>
  <input type="checkbox" name="incPrint" checked="true" id="incPrint" />

  <label for="incCut">Cutting:</label>
  <input type="checkbox" name="incCut" checked="true" id="incCut" />

  <label for="incGt">Gathering</label>
  <input type="checkbox" name="incGt" id="incGt" />
  <label for="incPd">Padding</label>
  <input type="checkbox" name="incPd" id="incPd" />
  <label for="incPk">Packing</label>
  <input type="checkbox" name="incPk" checked="false" id="incPk" />
  <label for="incDlv">Delivery</label>
  <input type="checkbox" name="incDlv" checked="false" id="incDlv" />
</div>

<script type="module">
  $("#chooseOp").on("change", chooseOp);

  var idCB = [
    "#incPlates",
    "#incPaper",
    "#incPrint",
    "#incAw",
    "#incCut",
    "#incGt",
    "#incPd",
    "#incPk",
    "#incDlv",
  ];
  var idOP = [
    "#op1",
    ".op2",
    "#op3",
    "#opX1",
    "#opX2",
    "#opX3",
    "#opX4",
    "#opX5",
    "#opX6",
  ];
  function chooseOp() {
    for (let i = 0; i < idCB.length; i++) {
      if ($(idCB[i]).is(":checked")) {
        $(idOP[i]).show();
      } else {
        $(idOP[i]).hide();
      }
    }
    chooseOp2x();
  }

  function chooseOp2x() {
    var count = Number($("#op2count").val()) + 1;
    for (let i = 1; i < 11; i++) {
      if (i < count) {
        $("#div4op2x" + i).show();
      } else {
        $("#div4op2x" + i).hide();
      }
    }
  }
  function TodayDate() {
    const today = new Date().toISOString().split("T")[0];
    $("input[type='date'").val(today);
  }

  function tests() {
    let val1 = "222";
    let val2 = val1 + 2;
    let val3 = Number(val1) + 2;
    let val4 = parseFloat(val1) + 2;
    console.log(`${val1}  ${val2}  ${val3}  ${val4}  `);
  }

  chooseOp();
  TodayDate();

  $(".withCommas").on("input", function () {
    const raw = $(this).val();
    const formatted = raw
      .replace(/[^0-9]/g, "")
      .replace(/\B(?=(\d{3})+(?!\d))/g, ",");

    $(this).val(formatted);
  });
</script>
