<div class="mrg15" id="op3">
  <div class="opdiv opL" id="op3L">
    <mrg5>Print</mrg5>
  </div>
  <div class="opdiv opM" id="op3M">
    <select name="slctMchine" id="slctMchine">
      <option>SORD</option>
      <option>SORDZ</option>
      <option>CORD</option>
    </select>
    <input
      type="text"
      class="wid80 withCommas"
      name="impressions"
      id="impressions"
      value="1"
    />
    <mrg5>*</mrg5>
    <input type="number" class="wid30" name="pltCnt3" id="pltCnt3" value="1" />
    <span>Plates</span>
    <mrg5>*</mrg5>
    <label for="perImpr">rs</label>
    <input type="number" class="wid30" name="perImpr" id="perImpr" value="1" />
  </div>
  <div class="opdiv opR" id="op3R">
    <mrg5 class="cos" id="cos3"></mrg5>
  </div>
</div>

<script type="module">
  $("#op3M").on("change", calOp3);
  $("#pltCnt").on("change", calOp3z);
  var deci = { minimumFractionDigits: 2, maximumFractionDigits: 2 };

  function calOp3() {
    let impressions = Number($("#impressions").val().replace(/,/g, ""));
    var cost =
      impressions * Number($("#pltCnt3").val()) * Number($("#perImpr").val());
    var minCost = 2000 * Number($("#pltCnt3").val());
    if (cost < minCost) {
      cost = minCost;
      $("#cos3").css("color", "firebrick");
    } else {
      $("#cos3").css("color", "black");
    }
    $("#cos3").html(cost.toLocaleString("en-US", deci));
  }
  function calOp3z() {
    $("#pltCnt3").val($("#pltCnt").val());
    calOp3();
  }
  calOp3();
</script>
