<%- include("partials/header.ejs") %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="gts" content="width=device-width, initial-scale=1.0" />
    <title>GTS</title>
  </head>
  <body>
    <input type="text" id="newName" placeholder="Name" />
    <input type="number" id="newGsm" placeholder="GSM" />
    <input type="number" id="newSizeH" placeholder="Height" />
    <input type="number" id="newSizeW" placeholder="Width" />
    <input type="text" id="newBrand" placeholder="Brand" />
    <input type="number" id="newStock" placeholder="Stock" />
    <input type="number" id="newPrice" placeholder="Price" />
    <button id="addItem">Add Paper</button>

    <% allPapers.forEach(function(paper) { %>
    <h3>
      <%=`${paper.name} ${paper.gsm}gsm ${paper.sizeW}x${paper.sizeH}
      ${paper.brand}`%>
    </h3>
    <% }); %>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  <script type="module">
    $("#addItem").on("click", addNewPaper);

    function addNewPaper() {
      const name = $("#newName").val().trim();
      const gsm = parseFloat($("#newGsm").val());
      const sizeH = parseFloat($("#newSizeH").val());
      const sizeW = parseFloat($("#newSizeW").val());
      const brand = $("#newBrand").val().trim();
      const stock = parseFloat($("#newStock").val());
      const price = parseFloat($("#newPrice").val());

      if (!name || !brand || [gsm, sizeH, sizeW, stock, price].some(isNaN)) {
        alert("Please enter both a valid name and price.");
        return;
      }
      $.post(
        "/additemx",
        { name, gsm, sizeH, sizeW, brand, stock, price },
        function (data) {
          if (data.success) {
            console.log("Item added!");
            location.reload();
          } else {
            alert("Error adding item.");
          }
        }
      );
    }
  </script>
</html>
