<%- include("partials/header.ejs") %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="Stock" content="width=device-width, initial-scale=1.0" />
    <title>Stock</title>
  </head>
  <body>
    <div class="mrg15" style="clear: both">
      <div class="opdiv" style="width: fit-content">
        <select id="stk_of">
          <%-slctPprHtml %>
        </select>
        <input type="datetime-local" id="dtSTK" />
        <input
          type="text"
          style="width: 250px"
          placeholder="Description..."
          id="desSTK"
        />

        <input
          type="number"
          class="calCngSTK"
          style="width: 50px"
          id="rmSTK"
          placeholder="RMs"
          value="0"
        />
        <input
          type="number"
          class="calCngSTK"
          style="width: 60px"
          id="shSTK"
          placeholder="sheets"
          value="0"
        />
        <span id="chngSTK"></span>
        <select id="dirSTK">
          <option value="-1">Sell</option>
          <option value="1">Stock</option>
        </select>
        <button id="recStock">Enter</button>
      </div>
    </div>
    <div id="stockRecContainer"></div>

    <div style="clear: both; position: fixed; bottom: 0px; margin-left: 15px">
      <div class="opdiv" style="width: 600px"></div>
      <div class="opdiv" style="width: 200px"></div>
      <div class="opdiv" style="width: 200px"></div>
    </div>
  </body>
  <script id="stockDataJSON" type="application/json">
    <%- JSON.stringify(stockRecs) %>
  </script>
  <script id="unitsJSON" type="application/json">
    <%- JSON.stringify(units) %>
  </script>

  <script>
    const $stkOf = $("#stk_of");
    const $chngSTK = $("#chngSTK");

    let chng = 0;
    let div_by = 1;

    $("#recStock").on("click", recStock);
    $(".calCngSTK").on("change", calculateChange);
    $stkOf.on("change", updateStockView);

    function calculateChange() {
      const [rm, sh] = $(".calCngSTK")
        .map((_, el) => parseFloat($(el).val()) || 0)
        .get();
      chng = rm * div_by + sh;
      $chngSTK.text(chng.toLocaleString());
    }

    function recStock() {
      const data = {
        dt: $("#dtSTK").val(),
        des: $("#desSTK").val().trim(),
        diff: $("#dirSTK").val() * chng,
        slctPaperId: $stkOf.find("option:selected").data("id"),
      };
      if ([data.dt, data.des].includes("")) {
        alert("Enter All details.");
        return;
      }

      $.post("/recStock", data, (res) => {
        res.success ? location.reload() : alert("Error adding item.");
      });
    }

    function updateStockView() {
      const paperID = $stkOf.find("option:selected").data("id");
      let ix = $stkOf.find("option:selected").data("un");
      div_by = JSON.parse($("#unitsJSON").html())[ix].per || 1;
      const records = JSON.parse($("#stockDataJSON").html())[paperID] || [];
      let diffSum = 0;

      const html = records
        .map((rec) => {
          const date = rec.dt?.split("T")[0] || "";
          const desc = rec.des || "";
          const diff = rec.diff || 0;
          const dir = diff < 0 ? "-" : "+";
          diffSum = diffSum + diff;
          const rm = Math.trunc(diff / div_by),
            sh = diff % div_by;
          const rmCal = Math.trunc(diffSum / div_by),
            shCal = diffSum % div_by;
          return `
            <div class="mrg15" style="clear: both">
              <div class="opdiv" style="width: 100px"><span class="midTxt">${date}</span></div>
              <div class="opdiv" style="width: 300px"><span style="font-size: smaller">${desc}</span></div>
              <div class="opdiv txtRight" style="width: 40px">
              <mrg5>${dir}</mrg5><span>${Math.abs(rm)}</span></div>
              <div class="opdiv" style="width: 40px; margin-left: -3px">
              <span>/</span><mrg5>${Math.abs(sh)}</mrg5></div>
              <div class="opdiv txtRight" style="width: 70px">
              <mrg5>${dir}${Math.abs(diff).toLocaleString()}</mrg5></div>
               <div class="opdiv txtRight"style="width: 80px; border: 1px solid black; box-sizing: border-box"><mrg5>${rmCal}/${Math.abs(
            shCal
          )}</mrg5></div>  
               <div class="opdiv txtRight"style="width: 80px; border: 1px solid black; box-sizing: border-box; margin-left: -3px"><mrg5>${diffSum.toLocaleString()}</mrg5></div>  
           </div>`;
        })
        .join("");

      $("#stockRecContainer").html(html);
    }

    updateStockView();
  </script>
</html>
