<div class="mrg15" id="opX2">
  <div class="opdiv opL" id="opXL2">
    <mrg5>Cutting</mrg5>
  </div>
  <div class="opdiv opM opXM" id="opXM2">
    <input type="number" class="wid80" name="shCut" id="shCut" value="1" />
    <mrg5>*</mrg5>
    <input type="number" class="wid60" name="perCut" id="perCut" value="1" />
  </div>
  <div class="opdiv opR" id="opXR2">
    <mrg5 class="cos" id="cosX2"></mrg5>
  </div>
</div>
<div class="mrg15" id="opX3">
  <div class="opdiv opL" id="opXL3">
    <mrg5>Gathering</mrg5>
  </div>
  <div class="opdiv opM opXM" id="opXM3">
    <input type="number" class="wid80" name="gtCost" id="gtCost" min="0" />
  </div>
  <div class="opdiv opR" id="opXR3">
    <mrg5 class="cos" id="cosX3"></mrg5>
  </div>
</div>
<div class="mrg15" id="opX4">
  <div class="opdiv opL" id="opXL4">
    <mrg5>Padding</mrg5>
  </div>
  <div class="opdiv opM opXM" id="opXM4">
    <input type="number" class="wid80" name="pdCost" id="pdCost" min="0" />
  </div>
  <div class="opdiv opR" id="opXR4">
    <mrg5 class="cos" id="cosX4"></mrg5>
  </div>
</div>
<div class="mrg15" id="opX5">
  <div class="opdiv opL" id="opXL5">
    <mrg5>Packing</mrg5>
  </div>
  <div class="opdiv opM opXM" id="opXM5">
    <input type="number" class="wid80" name="pkts" id="pkts" value="1" />
    <mrg5>*</mrg5>
    <input type="number" class="wid60" name="perPk" id="perPk" value="20" />
  </div>
  <div class="opdiv opR" id="opXR5">
    <mrg5 class="cos" id="cosX5"></mrg5>
  </div>
</div>
<div class="mrg15" id="opX6">
  <div class="opdiv opL" id="opXL6">
    <mrg5>Delivery</mrg5>
  </div>
  <div class="opdiv opM opXM" id="opXM6">
    <input type="number" class="wid80" name="dlvCost" id="dlvCost" min="0" />
  </div>
  <div class="opdiv opR" id="opXR6">
    <mrg5 class="cos" id="cosX6"></mrg5>
  </div>
</div>

<script type="module">
  $(".opXM").on("change", calOpX);
  var deci = { minimumFractionDigits: 2, maximumFractionDigits: 2 };

  function calOpX() {
    var cutCost = Number($("#shCut").val()) * Number($("#perCut").val());
    if (cutCost < 2000) {
      cutCost = 2000;
      $("#cosX2").css("color", "firebrick");
    } else {
      $("#cosX2").css("color", "black");
    }
    var pkCost = Number($("#pkts").val()) * Number($("#perPk").val());

    $("#cosX1").html(Number($("#awCost").val()).toLocaleString("en-US", deci));
    $("#cosX2").html(cutCost.toLocaleString("en-US", deci));
    $("#cosX3").html(Number($("#gtCost").val()).toLocaleString("en-US", deci));
    $("#cosX4").html(Number($("#pdCost").val()).toLocaleString("en-US", deci));
    $("#cosX5").html(pkCost.toLocaleString("en-US", deci));
    $("#cosX6").html(Number($("#dlvCost").val()).toLocaleString("en-US", deci));
  }

  calOpX();
</script>
