<div class="qtDiv" id="blanks">
  <div class="opdiv opL">
    <des>Total</des>
  </div>
  <div class="opdiv opR">
    <des id="cosTot"></des>
  </div>
</div>
<div class="qtDiv" id="blanks">
  <div class="opdiv opL">
    <des>Profit</des>
  </div>
  <div class="opdiv opR">
    <input
      type="number"
      class="wid80"
      name="profitNum"
      id="profitNum"
      value="1"
    />
  </div>
</div>

<script type="module">
  $("#chooseOp").on("change", calOpL);
  $(".opM").on("change", calOpL);
  function calOpL() {
    let sum = 0;
    $(".cos").each(function () {
      if ($(this).is(":visible")) {
        let val = Number($(this).html().replace(/,/g, ""));
        if (!isNaN(val)) {
          sum += val;
        }
      }
    });
    $("#cosTot").html(sum.toLocaleString());
  }
  calOpL();
  /*$(".withCommas").on("input", function () {
    console.log($(this).val());
  });*/
</script>
