* {
  font-weight: bold;
}
.themeClr {
  background-color: chocolate;
}
#headLine {
  width: 100%;
  height: 80px;
  border-radius: 5px;
}
.navBttn {
  background-color: burlywood;
  border: 4px inset white;
  height: 40px;
  width: 80px;
  border-radius: 5px;
  margin: 0px 30px;
  float: left;
  position: relative;
  top: 20px;
}
.right {
  float: right;
}
.txtRight {
  text-align: right;
}
mrg5 {
  margin: 5px;
}
.mrg15 {
  margin: 15px;
}
input {
  border: 2px solid black;
  border-radius: 3px;
}
.labelMargin label {
  margin-left: 20px;
}

.wid30 {
  width: 30px;
}
.wid40 {
  width: 40px;
}
.wid60 {
  width: 60px;
}
.wid80 {
  width: 80px;
}
input[type="checkbox"] {
  position: relative;
  top: 2px;
}
.opdiv {
  background-color: burlywood;
  height: 30px;
  line-height: 30px;
  margin: 2px 2px;
  float: left;
  border-radius: 2px;
  padding: 0px 5px;
}
.opTot {
  width: 200px;
  clear: both;
}
.opL {
  width: 100px;
  clear: both;
}
.opM {
  width: 700px;
}
.opR {
  width: 150px;
  text-align: right;
}
#blanks {
  margin-left: 629px;
}
.midTxt {
  display: flex;
  justify-content: center;
  margin: 0px;
}
.midInp {
  display: block;
  margin: auto;
}
#upsCal {
  width: 360px;
  height: 120px;
  border: 2px solid black;
  border-radius: 5px;
  float: right;
  margin: 20px;
}
.upsCells {
  background-color: darksalmon;
  width: 55px;
  height: 25px;
  line-height: 25px;
  margin: 2.5px;
  float: left;
  border-radius: 3px;
}
.low_stock {
  color: firebrick;
}
